@font-face {
    font-family: 'arc-o';
    src: url('../assets/OCR-A\ Regular.ttf') format('truetype');
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'arc-o', sans-serif;
    color: rgb(225, 225, 225);
    position: relative;
}

/* start menu page */

.start-menu-container {
    background-color: rgb(60, 60, 60);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 0 0 2rem black;
    z-index: 10;
    position: absolute;
    text-align: center;
}

#title-text {
    text-align: center;
    color: rgb(225, 225, 225);
}

.menu-section {
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 4rem;
    height: max-content;
    width: 100%;
    max-width: 800px;
    padding-bottom: 1rem;
}

.menu input {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'arc-o', sans-serif;
    background-color: transparent;
    color: rgb(225, 225, 225);
    margin-bottom: 2rem;
}

::placeholder {
    opacity: 1;
    color: rgb(225, 225, 225);
}

.paddle-customization {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.paddle-color {
    width: 1.5rem;
    height: 8rem;
    background-color:rgb(225, 225, 225);
    border-radius: 0.2rem;
    border: 4px solid black;
    margin: 0 2rem;
}

.change {
    font-size: 2rem;
    transition: all 300ms;
}

.change:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.change:active {
    transform: scale(0.8);
}

.color-name {
    text-align: center;
}

.middle {
    align-self: center;
    text-align: center;
}

.middle h2 {
    font-size: 2rem;
}

#play-btn {
    margin-top: 2rem;
    width:max-content;
    align-self: center;
    padding: 0.5rem 1rem;
    font-family: 'arc-o', sans-serif;
    font-size: 2rem;
    border-radius: 0.3rem;
}

#play-btn:hover {
    cursor: pointer;
}

/* game section */

.game-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgb(60, 60, 60);
    display: grid;
    grid-template-rows: 3rem auto 3rem;
    z-index: 0;
    overflow: hidden;
}

.top-bar {
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: space-around;
}

.score {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.score h2 {
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.left-paddle {
    width: 24px;
    height: 128px;
    background-color:rgb(225, 225, 225);
    border-radius: 0.2rem;
    border: 4px solid black;
    position: absolute;
    left: 16px;
}

.ball {
    width: 24px;
    height: 24px;
    background-color:rgb(225, 225, 225);
    border: 4px solid black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball-trail {
    z-index: -1;
    height: 24px;
    width: 24px;
    background-color: rgb(255, 0, 238);
    box-shadow: 0 0 1rem rgb(255, 0, 238);
    border-radius: 0.2rem;
    position: absolute;
    opacity: 0.5;
    animation: trail 1s linear forwards;
}

@keyframes trail {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.1);
    }
}

.right-paddle {
    width: 24px;
    height: 128px;
    background-color:rgb(225, 225, 225);
    border-radius: 0.2rem;
    border: 4px solid black;
    position: absolute;
    right: 16px;
}

.separation-line {
    height: 100%;
    position: absolute;
    border: 3px dashed rgb(95, 95, 95);
    z-index: -2;
}

.bottom-bar {
    background-color: rgb(80, 80, 80);
}

.announcement-text {
    position: absolute;
    align-self: center;
    justify-self: center;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    font-size: 3rem;
    animation: popIn 1s 1;
    display: none;
}

.info {
    position: absolute;
    align-self: center;
    justify-self: center;
    z-index: 1;
    transform: translateY(4rem);
    animation: info-idle 2s infinite linear;
}

@keyframes info-idle {
    0% {
        transform: translateY(4rem);
    }
    25% {
        transform: translateY(4.1rem);
    }
    50% {
        transform: translateY(4rem);
    }
    75% {
        transform: translateY(3.9rem);
    }
    100% {
        transform: translateY(4rem);
    }
        
}

@keyframes popIn {
    0% {
        transform: scale(0.7);
    }
    60% {
        transform: scale(1.1);
        animation-timing-function: ease-out;
    }
    100% {
        transform: scale(1);
    }
}

.end-game-screen {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgb(60, 60, 60);
    display: none;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.end-game-screen h2 {
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    font-size: 3rem;
    animation: popIn 1s;
}

.winner-name {
    font-size: 2rem;
}

#back {
    margin-top: 2rem;
    width:max-content;
    align-self: center;
    padding: 0.5rem 1rem;
    font-family: 'arc-o', sans-serif;
    font-size: 1.2rem;
    border-radius: 0.3rem;
}

#back:hover {
    cursor: pointer;
}